<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>${APP_NAME}</string>
	<key>FacebookDisplayName</key>
	<string>DOTCHI</string>
	<key>FacebookClientToken</key>
	<string>${FACEBOOK_CLIENT_TOKEN}</string>
	<key>FacebookAppID</key>
	<string>${FACEBOOK_APP_ID}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>IMAGE_BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>BASE_URL</key>
	<string>$(IMAGE_BASE_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
